html,body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: 100vw;
    height: 100vh;
    background-color: #F1F6FB;
}

header{
    padding: 0 20px 0 10px;
    borde
}

ul{
    list-style-type: none;
    padding: 0;
    font-size: 15px;
}
nav > ul > li{
    display: inline-block;
    padding: 0 10px;
}
nav > ul > li:hover{
    cursor: pointer;

}

.wrapper{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.fa-mobile-alt{
    margin: 0 0 0 auto;
}

.uppercase{
    text-transform: uppercase;
}

#logo{
    width: 100px;
    height: 100px;
    padding: 0 20px 0 0;
}